.App {
    border: 1px solid black;
    background-color: lightblue;
    width: auto;
    height: 210px;
    overflow: scroll;

}

.Text { 
  position:relative;
  text-decoration: underline;
  text-decoration-style: dotted; 
}
.Text:hover {
  background-color: gray ;
}

.Text2{

  display: inline-block;
  margin-left: 10px
}
.Span{

}

.info {
  width:auto;
  height:35%;
  margin:5%;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  background:white;

}